data/*
*.pyc
build/*
dist/*
dist.zip
videos/*
*.xlsx
*.xlsm
*.pdf
*.zip
*.docx
**/data/**
task/pacer_scra/docs/*
task/pacer_scra/shannon_task/*
task/simplifile/docs/explore_simplifile_api.py
task/simplifile/timeline/5-21-25/api_key.txt
task/simplifile/timeline/5-21-25/all_24/sample_output.txt
src/simplifile3_old